<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501277047238-q8qklkid6d1iiu2gpg1pe8an9k59qiik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501277047238-q8qklkid6d1iiu2gpg1pe8an9k59qiik</string>
	<key>API_KEY</key>
	<string>AIzaSyAkLoooVH1vKlZPtuW-nrqZVEv0x3PtyS0</string>
	<key>GCM_SENDER_ID</key>
	<string>501277047238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.extraordinaryExam</string>
	<key>PROJECT_ID</key>
	<string>dbextraordinario</string>
	<key>STORAGE_BUCKET</key>
	<string>dbextraordinario.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501277047238:ios:68434b7d325cff07df1ac7</string>
</dict>
</plist>